In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.Series([0.25,0.5,0.75,1.0])# series is indexed 1dimension array

In [4]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values#numpy array

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data[1]

0.5

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [15]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [20]:
population_dict={'California':38332521,
                 'Texas':26448193,
                 'New York':19651127,
                 'Florida':19552860,
                 'Illiois':12882135}
population=pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illiois       12882135
New York      19651127
Texas         26448193
dtype: int64

In [22]:
population['California']

38332521

In [24]:
population['California':'Illinois']

California    38332521
Florida       19552860
dtype: int64

In [26]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [29]:
pd.Series({2:'a',1:'b',3:'c'})

1    b
2    a
3    c
dtype: object

In [31]:
pd.Series({2:'a',1:'b',3:'c'},index=[3,2]) #it only include values indexed

3    c
2    a
dtype: object

In [36]:
area_dict={'California':423967,
                 'Texas':695662,
                 'New York':141297,
                 'Florida':170312,
                 'Illiois':149995}
area=pd.Series(area_dict)
area

California    423967
Florida       170312
Illiois       149995
New York      141297
Texas         695662
dtype: int64

In [39]:
states=pd.DataFrame({'population':population,'area':area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illiois     149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [41]:
states.index

Index(['California', 'Florida', 'Illiois', 'New York', 'Texas'], dtype='object')

In [43]:
states.columns

Index(['area', 'population'], dtype='object')

dictionary use mapping key to value
DataFrame use mapping column's name to Series

In [45]:
pd.DataFrame(population,columns=['population']) # single Series Data Frame

            population
California    38332521
Florida       19552860
Illiois       12882135
New York      19651127
Texas         26448193

In [49]:
data={'a':1,'b':2*1}
data_=pd.Series(data)
pd.DataFrame(data_)

   0
a  1
b  2

In [53]:
data=[{'a':1,'b':2}]
pd.DataFrame(data)

   a  b
0  1  2

In [51]:
data=[{'a':i,'b':2*i}for i in range(3)] 
#data_=pd.Series(data)
pd.DataFrame(data) # make DataBase using dictionary list

   a  b
0  0  0
1  1  2
2  2  4

In [57]:
pd.DataFrame([{'a':1,'b':3},{'b':3,'c':4}])# NaN: not a number

     a  b    c
0  1.0  3  NaN
1  NaN  3  4.0

In [61]:
pd.DataFrame({'population':population,'area':area})#make DataFrame using Series class dictionary

              area  population
California  423967    38332521
Florida     170312    19552860
Illiois     149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [63]:
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])#maek DataFrame using 2dimension array

        foo       bar
a  0.248426  0.452857
b  0.721570  0.883344
c  0.241441  0.097377

make DataFrame using structured array

In [71]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')])
A
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

Pandas Idex Class

In [72]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [74]:
ind[1]

3

In [76]:
ind[::2] # similar with array

Int64Index([2, 5, 11], dtype='int64')

In [79]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [81]:
ind[1]=0 # index cant be changed normally

TypeError: Index does not support mutable operations

In [82]:
indA=pd.Index([1,3,5,7,9])
indB=pd.Index([2,3,5,7,11]) #Index follow set structure

In [84]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [86]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [88]:
indA ^ indB#여집합

Int64Index([1, 2, 9, 11], dtype='int64')

In [ ]:
Data Selection in Series

In [91]:
data = pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [93]:
data['b']

0.5

In [95]:
'a' in data

True

In [97]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [99]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [101]:
data['e']=1.25 # wide Series by adding key, values

In [103]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [105]:
data[0:2]#implicitly allowed index slicing

a    0.25
b    0.50
dtype: float64

In [107]:
data[(data>0.3)&(data<0.8)] #masking

b    0.50
c    0.75
dtype: float64

In [109]:
data[['a','e']]#fancy indexing

a    0.25
e    1.25
dtype: float64

In [110]:
data=pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [111]:
data[1]

'a'

In [113]:
data[1:3] # licing follow implicite rule

3    b
5    c
dtype: object

loc: refer to index,
iloc: refer to implicite rule

In [116]:
data.loc[1:3]

1    a
3    b
dtype: object

In [118]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [125]:
area=pd.Series({'California':38332521,
                 'Texas':26448193,
                 'New York':19651127,
                 'Florida':19552860,
                 'Illiois':12882135})
pop=pd.Series({'California':423967,
                 'Texas':695662,
                 'New York':141297,
                 'Florida':170312,
                 'Illiois':149995})
data = pd.DataFrame({'area':area,'pop':pop})
data

                area     pop
California  38332521  423967
Florida     19552860  170312
Illiois     12882135  149995
New York    19651127  141297
Texas       26448193  695662

In [127]:
data['area']

California    38332521
Florida       19552860
Illiois       12882135
New York      19651127
Texas         26448193
Name: area, dtype: int64

In [129]:
data.area#can approach values by using column name

California    38332521
Florida       19552860
Illiois       12882135
New York      19651127
Texas         26448193
Name: area, dtype: int64

In [131]:
data.area is data['area']

True

In [133]:
data.pop is data['pop'] # it because DataFrmae have method data.pop, collision with attribute name

False